    .marco {
        height: 300px;
        width: 100%;
        background-color: rgb(37, 37, 37);
        transform: skewY(2deg);
    }
    
    .marco .yo {
        width: 100%;
        height: 100%;
        position: absolute;
    }
    
    .marco .Mifoto {
        position: absolute;
        top: 1%;
        right: 43%;
        width: 180px;
        height: 180px;
        border-radius: 100%;
        transform: skewY(-2deg);
        overflow: hidden;
    }
    
    .marco .Mifoto img {
        width: 180px;
        height: 260px;
    }
    
    .marco .yo {
        position: absolute;
        top: 55%;
        right: -1%;
    }
    
    .marco .yo .y1 {
        text-align: center;
        color: white;
        font-family: monospace;
        font-weight: bolder;
        font-size: 19px;
    }
    
    .marco .yo .y2 {
        text-align: center;
        color: white;
        font-family: monospace;
        font-weight: bolder;
        font-size: 19px;
    }
    
    .marco .yo .y3 {
        text-align: center;
        color: white;
        font-family: monospace;
        font-weight: bolder;
        font-size: 19px;
    }
    
    .marco .yo .y1:hover {
        background: rgb(216, 216, 216);
        color: black;
        width: 95%;
    }
    
    .marco .yo .y2:hover {
        background: rgb(216, 216, 216);
        color: black;
        width: 95%;
    }
    
    .marco .yo .y3:hover {
        background: rgb(216, 216, 216);
        color: black;
        width: 95%;
    }
    
    .marco1 {
        text-align: center;
        height: 400px;
        width: 100%;
        background-color: rgb(37, 37, 37);
        transform: skewY(-1deg);
    }
    
    .marco1 img {
        transform: skewY(1deg);
    }
    
    .Titulo1 {
        color: white;
        font-family: monospace;
        font-size: 25px;
    }
    
    .parrafo1 {
        color: white;
        font-family: monospace;
        font-size: 18px;
    }
    
    .marco2 {
        text-align: center;
        height: 400px;
        width: 100%;
        background-color: rgb(37, 37, 37);
        transform: skewY(1deg);
    }
    
    .marco2 img {
        transform: skewY(-1deg);
    }